@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-justcontent-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin button {
  padding: 12px 24px;
  border-radius: 8px;
  /* background: $primary; */
  color: white;
  border: none;
  cursor: pointer;
  transition: .3s;

  &:hover {
    /* background: $primary-dark; */
  }
}

@mixin card {
  background: white;
  /* border-radius: $radius; */
  /* box-shadow: $shadow; */
}
