.community-container {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    width: 100%;
    background: #fff;
    h1{
        margin-bottom: 30px;
        font-size: 18px;
        color:rgba(0, 0, 0, 0.7);
    }
    .write-box{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
        input, textarea{
            padding: 10px;
            border: none;
            border-bottom: 1px solid #aaaaaa;
             outline: none;
        }
         button {
            background: #4f46e5;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}

.post-list{
    .post-item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        input, textarea{
            padding: 10px;
            border: 1px solid #ccc;
            outline: none;
        }
    }
}

.post-item {
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  background: white;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  .edit-buttons{
  }
}

.comment-section {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.comment {
  margin-bottom: 10px;

  span {
    font-weight: bold;
    font-size: 14px;
  }

  p {
    margin: 5px 0;
  }
}

.comment-input {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  input {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ddd;
  }

  button {
    padding: 8px 12px;
    border: none;
    background: #10b981;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
}
.edit-buttons {
  display: flex;
  gap: 8px;
}

.edit-buttons button {
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

.edit-buttons button:first-child {
  background: #4f46e5;
  color: white;
}

.edit-buttons button:last-child {
  background: #ef4444;
  color: white;
}
