.footer {
    margin-top: 50px;
  background: #fff;
  border-top: 1px solid #ddd;
  padding-top: 60px;
  color: #1e293b;
  font-family: "Pretendard", sans-serif;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-brand h2 {
  font-size: 22px;
  color: #0ea5e9;
  margin-bottom: 8px;
}

.footer-brand p {
  font-size: 14px;
  color: #475569;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links h4 {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #0369a1;
}

.footer-links a {
  display: block;
  font-size: 14px;
  color: #334155;
  margin-bottom: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #0ea5e9;
  transform: translateX(3px);
}

.footer-social h4 {
  margin-bottom: 12px;
  font-size: 14px;
  color: #0369a1;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.social-icons span {
  cursor: pointer;
  transition: 0.3s;
}

.social-icons span:hover {
  transform: translateY(-3px);
}

.footer-bottom {
  margin-top: 50px;
  text-align: center;
  padding: 20px 0;
  font-size: 13px;
  border-top: 1px solid #ddd;
  color: #075985;
  background: rgb(194, 238, 255);
}
