@use "./variables.scss" as *;

.mySwiper{
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sub-title{
    display:block;
    margin-bottom:12px;
    font-size:18px;
    font-weight:400;
    opacity:0;

    animation:fadeUp .8s .2s forwards;
}

.search-box{

    display:flex;

    width:650px;

    height:60px;

    margin:0 auto;

    background:#fff;

    border-radius:50px;

    overflow:hidden;

    box-shadow:0 15px 40px rgba(0,0,0,.2);

    opacity:0;

    animation:fadeUp .8s .6s forwards;

}

.search-box input{

    flex:1;

    border:none;

    outline:none;

    padding:0 30px;

    font-size:18px;

    

}

.search-box button{

    width:120px;

    border:none;

    background:#12B3C7;

    color:#fff;

    font-size:18px;

    font-weight:500;

    cursor:pointer;

}

/* banner text 및 btn 애니메이션 */
@keyframes fadeUp{

    from{

        opacity:0;
        transform:translateY(40px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

.mySwiper::after{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.28);

    z-index:1;

}

/* .main-banner-content{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%) !important;

    text-align:center;
    color:#fff;
    
    z-index:10;
    opacity:0;
    animation: fadeUp .8s forwards;
} */


.main-banner-content h1{
    font-size:64px;
    line-height:1.3;
    font-weight:800;
    margin-bottom:35px;
    opacity:0;

    animation:fadeUp .8s .4s forwards;
}

.swiper-button-prev, .swiper-button-next {
    color: #ffffff;
}

.swiper-button-prev{
    padding-left: 10px;
}
.swiper-button-next{
    padding-right: 10px;
}

.swiper-pagination-fraction {
    color: #ffffff73;
}

.swiper-pagination-bullet{
    background: #ffffffd0;
}
.home{
    h2{
        text-align: center;
        margin: 40px 0;
        font-size: 25px;
        color: #333;
    }
        .list{
            width: 100%;
            padding: 0 20px;
            margin: 0 auto;
            max-width: 1280px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
        li{
            padding: 20px;
            box-shadow: 0 0 5px rgba(0,0,0,.5);
            border-radius: 5px;
            .img-wrap{
                overflow: hidden;
                border-radius: 10px;
                height: 200px;
                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 10px;
                        margin-bottom: 10px;
                        transition: all 0.3s ease;
                        }
                    &:hover img {
                        opacity: .7;
                        transform: scale(1.1);
                    }
                }
                h3{
                    font-size: 18px;
                    margin-bottom: 5px;
                    margin-top: 10px;
                    color: #333;
                    font-weight: 600;
                }
                p{
                    font-size: 12px;
                    color: #8a8a8a;
                    line-height: 1.5;
                }
            
        }
    }
}

.hero .mySwiper{

    height:100%;

}

.hero{

    position:relative;

    height: 90vh;

    overflow: hidden;

    .mySwiper{

        &::after{

            content:"";

            position:absolute;

            inset:0;

            background:rgba(0,0,0,.35);

            z-index:2;

        }

    }

}

.hero .swiper-slide img{

    width:100%;

    height:100%;

    object-fit:cover;
    animation: zoomHero 8s linear infinite;

}



@keyframes zoomHero{

    from{

        transform:scale(1);

    }

    to{

        transform:scale(1.08);

    }

}

.hero .swiper-slide {
  position: relative;
}

.hero .swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .25);
}



.btn{
    background: none;
    border: none;
    color: #333;
    margin-top: 10px;
    padding: 5px 8px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition: .5s ease;
    &:hover{
        background: rgb(255, 61, 61);
        color: #fff;
    }
    /* &.liked {
        background: rgb(255, 61, 61);
        color: #fff;
        border: none;
    } */
}

.btn.liked {
  background: rgb(255, 61, 61);
        color: #fff;
        border: none;

  &:hover{
        background: #999;
        color: #333;
    }
}

.load-more {
  text-align: center;
  margin: 40px 0;

  button {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #303030;
    transition: .3s ease;

    &:hover {
      background: #333;
      color: #fff;
    }
  }
}

.more-btn-wrap {
  text-align: center;
  margin: 40px 0;
}

.more-btn {
    display: inline-block;
    padding: 12px 24px;
    border: none;
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #474747;
    transition: .3s ease;

  &:hover {
    background: #333;
    color: #fff;
  }
}