@import "./variables.scss";

.mySwiper{
    width: 100%;
    height: 700px;
    object-fit: cover;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.swiper-button-prev, .swiper-button-next {
    color: #fff;
}
.swiper-pagination-fraction {
    color: #fff;
}
.home{
    h2{
        text-align: center;
        margin: 40px 0;
        font-size: 25px;
        color: rgba(0,0,0,.6);
    }
        .list{
            width: 100%;
            padding: 0 20px;
            margin: 0 auto;
            max-width: 1280px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        li{
            padding: 15px;
            box-shadow: 0 1px 8px rgba(0,0,0,.6);
            border-radius: 10px;
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: 10px;
            }
            h3{
                font-size: 16px;
                margin-bottom: 5px;
            }
            p{}
            
        }
    }
}
.btn{
    background: none;
    border: 1px solid $primary;
    color: $primary;
    margin-top: 10px;
    padding: 5px 8px;
    &:hover{
        background: $primary;
        color: #fff;
    }
}