@use '../styles/variables.scss' as *;

.login{
    width: 800px;
    margin: 100px auto;
    border: 3px solid #f5f5f5;
    padding: 40px;
    box-sizing: 5px 5px 10px rgba(0,0,0,0.6);
    h2{}
    form{
        input{
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #ccc;
            outline: none;
            font-size: 14px;
            background: $white;
            margin-top: 10px;
        }
        button{
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #ccc;
            outline: none;
            font-size: 14px;
            background: $primary;
            color: $white;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
    p{
        margin-top: 20px;
        font-size: 12px;
        color: $gray;
        a{
            color: $primary;
            text-decoration: underline;
        }
    }
    >button{
        margin-top: 20px;
        background-color: $white;
        padding: 10px;
        border: 1px solid $light-gray;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 600;
        .googleIcon{
            font-size: 18px;
            margin-right: 8px;
        }
    }
}