@font-face {
    font-family: 'OneStoreMobileGothicTitleFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import './variables';
@import './mixins';
@import './reset';
@import './layout';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
/* 공통 버튼 */

.btn {
  @include button;
}

/* 카드 */

.card {
  @include card;
  padding: 20px;
}
