.empty-trip {
  text-align: center;
  margin-top: 50px;

  img {
    width: 250px;
    opacity: 0.8;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    color: #777;
    margin-bottom: 20px;
  }

  .login-btn {
    padding: 10px 10px;
    background: #ff6b6b;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    width: 300px;
  }
}

.mytrip-container {
  position: relative;
  min-height: 90vh;
  padding: 40px;
  background: url("/public/img/mytrip.jpg") center/cover no-repeat;
  h1{
    
    margin-bottom: 40px;
  }
  h3{margin-top: 20px;}
  p{margin-top: 10px;}
  .empty-trip{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
  }
  .trip-list{
    display: flex;
  }
}

/* 어두운 오버레이 */
.mytrip-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); // 0.6이 어두운 정도
  z-index: 1;
}

/* 실제 콘텐츠는 위로 올려주기 */
.mytrip-container > * {
  position: relative;
  z-index: 2;
  color: white;
}
.trip-list{
  li{
    width: 25%;
    padding: 15px;
  }
}