.mytrip-container {
  padding: 40px;
  h1{
    margin-bottom: 30px;
  }
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.trip-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.trip-item {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 15px;
  background: #fff;
}

.trip-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.trip-item > div {
  margin-top: 10px;
  h3{
    margin-bottom: 5px;
  }
  p{font-size: 14px; color: #757575;}
}
.empty{
    p{
        color: rgba(0,0,0,.6);
        margin-bottom: 20px;
    }
    a{
        text-decoration: underline;
    }
}
