@use '../styles/variables.scss' as *;

.signup{
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    padding: 40px;
    h2{
        font-size: 18px;
        margin-bottom: 20px;
        color: $gray;
    }
    form{
        input{
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 1px solid #ccc;
            outline: none;
            background: none;
        }   
        button{
            display: block;
            width: 100%;
            padding: 10px;
            background: $primary;
            color: $white;
            border: none;
            cursor: pointer;
            font-weight: 600;
        }
        select{
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
        }
    }
}
